<div class="app-wrapper">

  <!-- TOOLBAR -->
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="toggleSidenav()" *ngIf="authService.isLoggedIn">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="brand">🎓 Quiz RUI Pro</span>
    <span style="flex: 1 1 auto;"></span>
    <ng-container *ngIf="authService.isLoggedIn">
      <span class="username">
        <mat-icon>person</mat-icon> {{ authService.currentUser?.username }}
      </span>
      <button mat-icon-button (click)="authService.logout()" matTooltip="Esci">
        <mat-icon>logout</mat-icon>
      </button>
    </ng-container>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">

    <!-- SIDEBAR -->
    <mat-sidenav [opened]="sidenavOpen && authService.isLoggedIn" mode="side" class="sidenav">
      <mat-nav-list>
        <a mat-list-item routerLink="/quiz" routerLinkActive="active-link">
          <mat-icon matListItemIcon>quiz</mat-icon>
          <span matListItemTitle>Quiz</span>
        </a>
        <a mat-list-item routerLink="/dashboard" routerLinkActive="active-link">
          <mat-icon matListItemIcon>dashboard</mat-icon>
          <span matListItemTitle>Dashboard</span>
        </a>
        <a mat-list-item routerLink="/errors" routerLinkActive="active-link">
          <mat-icon matListItemIcon>error_outline</mat-icon>
          <span matListItemTitle>Errori</span>
        </a>
        <a mat-list-item routerLink="/progressi" routerLinkActive="active-link">
          <mat-icon matListItemIcon>bar_chart</mat-icon>
          <span matListItemTitle>Progressi</span>
        </a>
        <mat-divider></mat-divider>
        <!-- ↓ classe corretta: logout-item -->
        <div class="logout-item" (click)="authService.logout()">
          <mat-icon>logout</mat-icon>
          <span>Esci</span>
        </div>
      </mat-nav-list>
    </mat-sidenav>

    <!-- CONTENT -->
    <mat-sidenav-content class="main-content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
