<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Quiz RUI Pro</span>
  <span class="spacer"></span>
  <span *ngIf="authService.isLoggedIn" class="username">
    {{ authService.currentUser?.username }}
    <span *ngIf="authService.isSupervisor" class="badge">⭐ Supervisor</span>
  </span>
  <button *ngIf="authService.isLoggedIn" mat-icon-button (click)="authService.logout()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="app-container">
  <mat-sidenav #sidenav mode="side" opened="false">
    <div class="sidenav-header">
      <h3>Quiz RUI Pro</h3>
      <p *ngIf="authService.isLoggedIn">{{ authService.currentUser?.username }}</p>
    </div>
    <mat-nav-list>
      <mat-list-item disabled>
        <mat-icon matListIcon>quiz</mat-icon>
        <span>Quiz</span>
      </mat-list-item>
      <mat-list-item disabled>
        <mat-icon matListIcon>dashboard</mat-icon>
        <span>Dashboard</span>
      </mat-list-item>
      <mat-list-item disabled>
        <mat-icon matListIcon>error</mat-icon>
        <span>Errori</span>
      </mat-list-item>
      <mat-list-item disabled>
        <mat-icon matListIcon>trending_up</mat-icon>
        <span>Progressi</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <main class="main-content">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
